body {
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  background: #e1e6eb;
}

.container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.gallery-img {
  opacity: 0;
  transition:
    opacity ease-in 1.5s,
    width 700ms ease;
}

.gallery-img.show {
  opacity: 1;
}

.title {
  margin: 2rem auto;
  width: 60%;
  font-size: 4rem;
}

.description {
  margin: 0 auto;
  width: 40%;
  font-weight: 300;
}

.description.new-paragraph {
  margin-top: 1rem;
}

.intro {
  margin-bottom: 2rem;
}

.rasurar {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.55);
  font-size: .8rem;
}

.emoji-pensando {
  display: inline;
  width: 1.5rem;
}


@media (min-width: 50em ) {
  .container {
    width: 90%;
  }
}
